pkgbase = ani-tui
	pkgdesc = TUI interactiva para buscar y reproducir anime desde animeav1.com sin anuncios
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/glimp-ly/ani-tui
	arch = x86_64
	arch = aarch64
	license = GPL3
	makedepends = cargo
	depends = gcc-libs
	optdepends = mpv: reproducción directa de video sin anuncios (recomendado)
	optdepends = xdg-utils: abrir URLs en el navegador del sistema
	source = ani-tui-0.2.0.tar.gz::https://github.com/glimp-ly/ani-tui/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = b54aae98f6d26936427b72039b39fb9fdf36d2b4ba290166b3ea88b2b66bdb1c

pkgname = ani-tui
